@import '../styles/Dialog';

.FileUploadTeam {
  display: flex;
}

.LinkToEdit {
  // padding: 9q;
  background-color: transparent;
  text-align: center;
  // width: min-content;

  .backIcon {
    transform: rotate(180deg)
  }

}

.Paper {
  padding: 9q;
}