%Flex {
  display: flex;
  gap: 9q;
  // flex-direction: column;
}

.AllPanel {
  // background-color: transparent;
  display: flex;
  gap: 9q;
  flex-direction: column;

  &:fullscreen {
    background-color: #fff;
  }

  &-ECharts {
    // background-color: transparent;
    @extend %Flex;
    width: 100%;
    // min-height: 84vh;
    // grid-row: auto;
    // grid-template-columns: 1fr 1fr;
    /* 等宽两列 */
    /* 列间距 */
    // min-height: 84vh;
  }

  .ToggleButtonGroupWrapper:fullscreen {
    display: none;
    visibility: hidden;
  }

  &-ToggleButtonGroup {
    // &:fullscreen {
    //   display: none;
    //   visibility: hidden;
    // }

    display: flex;

    &-ToggleButton {
      flex-grow: 1;
    }
  }


}