.beian {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;

  &-h1 {
    text-align: center;

    &-Link {
      padding: 9q;
      background-color: rgba($color: #fff, $alpha: .8);
      transition: 1s;

      &:hover {
        background-color: #fff;
      }
    }
  }


  // left: 50;
}